*/.idea/*
*/project/*
*/target/*
*/.bsp/*
*.class
*.log

target/
project/target/
api/

.metals/


*.iml
.idea
.bsp/*
output\.html
/CSYEoutput.html
/draft final.pages
/.bsp/
/logFile

.DS_Store

/.idea_modules
/.classpath
/.settings
/RUNNING_PID
